.app {
  background-image: url(bg.jpeg);
  background-position:center;
  background-color: #aaa;
}

.ground {
  position: fixed;
  border-left: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.5);
}

.scoreboard {
  position: fixed;
  left: 30px;
  top: 30px;
  width: 160px;
  height: 90px;
  border: 4px solid rgba(255,255,255,0.5);
  text-align: center;
  font-size: 48px;
  color: #fff;
  line-height: 90px;
}

.preview {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 160px;
  height: 90px;
  border: 4px solid rgba(255,255,255,0.5);
  text-align: center;
}

.controller {
  position: fixed;
}
.controller img {
  width: 70px;
  height: 70px;
  opacity: 0.6;
}
.controller-left {
  left: 40px;
  top: 300px;
}

.controller-right {
  left: 130px;
  top: 300px;
}
.controller-down {
  right: 130px;
  top: 300px;
}
.controller-changer {
  right: 40px;
  top: 300px;
}
.controller-control {
  right: 40px;
  top: 220px;
}
.controller-bottom {
  right: 130px;
  top: 220px;
}
.controller-reload {
  left: 84px;
  top: 220px;
}